google_search_api="AIzaSXXXXXXXXXXXXXXXXXXXXXqnW8C4srUY"
url = "https://relay.shengsuanyun.com/v1"
key = "8N9ievEPeJPXXXXXXXXXXXXXXXXXXXXXXXofbkbImyEuOViIcGA_mW7NytQ"
model ={
    'embed':['text-embedding-v3'],
    'chat':['shengsuanyun/DeepSeek-R1','qwen-turbo'],
    'img':['Ali:qwen-vl-plus-latest'],
    'audio':['Ali:qwen-audio-turbo-latest']
}
secret_key = "HGKq0zBO8WXXXXXXXXXXXXXXXXXXXXX4673-97df-30831d9583f8"
dbURL = "mariadb+mariadbconnector://root:v@127.0.0.1:3306/xhs"
pgVector = "postgresql://postgres:v@localhost:5432/test"

ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 300000
CACHE_TIMEOUT_SECONDS = 1800 
CACHE_CLEANUP_INTERVAL_SECONDS = 600